In [2]:
import pandas as pd
df = pd.read_csv("Data/dept_emp.csv")

In [3]:
df.head()

   emp_no dept_no   from_date     to_date
0   10001    d005  1986-06-26  9999-01-01
1   10002    d007  1996-08-03  9999-01-01
2   10003    d004  1995-12-03  9999-01-01
3   10004    d004  1986-12-01  9999-01-01
4   10005    d003  1989-09-12  9999-01-01

AttributeError: 'DataFrame' object has no attribute 'heaeders'